/* reset */
* { box-sizing:border-box; }
*:focus { outline:0; }
body { margin:0; padding:20px; font-family:'Open Sans', sans-serif; font-size:18px; -webkit-font-smoothing:antialiased; cursor:default; }
a, a:hover, a:visited, a:active { cursor:pointer; text-decoration:none; }
h1 { margin:0 0 20px; }
input[type="text"], input[type="submit"] { -webkit-appearance:none; -moz-appearance:none; appearance:none; }
table { border-spacing:0; border-collapse:collapse; }
td, th { text-align:left }

/* structure */
.container { margin:40px auto; width:600px; padding:30px; }
.contextual { float:right; margin-top:10px; }

/* styling */
body { background-color:#FFFFFA; }
a, a:hover, a:visited, a:active { color:#C2185B; }
pre { padding:4px; background-color:#EEE; border:1px solid #666; }
table { width:100%; }
td, th { background-color:#FFFFFF; padding:6px 10px; border:1px solid #bbb; }
.container { background-color:#FFCCBC; border:1px solid #E64A19; }
.form-container p { margin:25px 5px 5px; }
.form-container label { display:block; color:#535353; text-transform:uppercase; font-weight:bold; }
.form-container input[type=text] { display:block; padding:4px 8px; width:100%; font-size:24px; border:1px solid #888; border-radius:2px; }
.form-container input[type=checkbox] { zoom:2; }
.form-container input[type=submit], input.button { padding:4px 8px; font-size:18px; color:#424242; text-transform:uppercase; font-weight:bold; }
