<!doctype html>
<html>
  <head>
    <link rel=stylesheet href=/static/app.css>
    {% block head %}{% endblock %}
  </head>
  <body>
    <div class=container>
      <div class=header>
        <div class=contextual>
          {% if user.username %}
            <a href=/login>Logout</a>
          {% else %}
            Log as:
            <a href=/login?user=Alice>Alice (admin)</a>
            |
            <a href=/login?user=Bob>Bob (user)</a>
          {% endif %}
        </div>
        Current user:
        {% if user.username %}
          {{ user.username }} ({{ user.role }})
        {% else %}
          -
        {% endif %}
      </div>
      <div class=main>
        {% block content %}
        {% endblock %}
      </div>
    </div>
  </body>
</html>
